<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>contactFix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BFF3161235FA12A0044D9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BFF3177235FA12E0044D9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BFF3182235FA12E0044D9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
